<template>
  <div class="home">
    <HeaderClothing />
    <WomanClothing />
    <FooterClothing />
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";
import HeaderClothing from "@/components/HeaderClothing.vue";
import WomanClothing from "@/components/WomanClothing.vue";
import FooterClothing from "@/components/FooterClothing.vue";

export default {
  name: "home",
  components: {
    HeaderClothing,
    WomanClothing,
    FooterClothing
  }
};
</script>
